

.rounded {
   position: relative;
   left: 30px;
}


@media only screen and (max-width: 1680px) {

.stuff {
   background-color: #eeeeee;
   position: relative;
   height: 400px;
   width: 1000px;
   left: 50px;
   border: #777777;
   border-style: solid;
   
   }

   img {
      position: relative;
      top: 50px;
      left:10px;
      
      
   }

   p {
      position: relative;
      bottom: 284px;
      padding: 80px;
      left: 190px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      width: 840px;
      color: black;
      
   }

.port {
   position: relative;
   left: 5px;
}

.head {
   position: relative;
   font-size: large;
   text-align: left;
   font-weight: bold;
   bottom: 300px;
}
.body {
   position: relative;
   bottom: 515px;
   text-align: left;
}

.li {
   position: relative;
   right: 80px;
}

.nav-item {
   position: relative;
   left: 1080px;
   color: white;
}

.stuffington {
   background-color: white;
   position: relative;
   height: 870px;
   width: 50%;
   left: 260px;
   border: #777777;
   border-style: solid;
}
}

@media only screen and (max-width: 1201px) {

   .stuff {
      background-color: #eeeeee;
      position: relative;
      height: 500px;
      width: 800px;
      left: 50px;
      border: #777777;
      border-style: solid;
      }


      .grid-item {
         position: relative;

      }

      p {
         position: relative;
         bottom: 284px;
         padding: 80px;
         left: 190px;
         font-family: Georgia, 'Times New Roman', Times, serif;
         width: 600px;
         height: 500px;
         color: black;
         display: flex;
      }

      .head {
         position: relative;
         font-size: large;
         text-align: left;
         font-weight: bold;
         font-size: medium;
         width: 100%;
      }
      .body {
         position: relative;
         bottom: 800px;
         text-align: left;
      }

.nav-item {
   position: relative;
   left: 900px;
   color: white;
}

.li {
   position: relative;
   right: 80px;
}

.stuffington {
   background-color: white;
   position: relative;
   height: 870px;
   width: 60%;
   left: 120px;
   border: #777777;
   border-style: solid;
}


}

@media only screen and (max-width: 991px) {

   .stuff {
      background-color: #eeeeee;
      position: relative;
      height: 700px;
      width: 600px;
      right: 90px;
      border: #777777;
      border-style: solid;
      }

      p {
         position: relative;
         bottom: 284px;
         padding: 80px;
         left: 190px;
         font-family: Georgia, 'Times New Roman', Times, serif;
         width: 450px;
         height: 280px;
         color: black;
         display: flex;
      }

      .stuffington {
         background-color: white;
         position: relative;
         height: 870px;
         width: 80%;
         left: 75px;
         border: #777777;
         border-style: solid;
      }

.nav-item {
   position: relative;
   color: white;
}

.navbar {
   position: relative;
   height:70px;
}

.li {
   position: relative;
   right: 80px;
}
.head {
   position: relative;
   font-size: small;
   text-align: left;
   font-weight: bold;
   
}
.body {
   position: relative;
   bottom:  580px;
   text-align: left;
}

.grid-item {
   position: relative;
   width: 50%;
   height: 60px;
}
}


@media only screen and (max-width: 767px) {

   .stuff {
      background-color: #eeeeee;
      position: relative;
      height: 900px;
      width: 490px;
      right: 90px;
      border: #777777;
      border-style: solid;
   
      }

      p {
         position: relative;
         bottom: 284px;
         padding: 80px;
         left: 190px;
         font-family: Georgia, 'Times New Roman', Times, serif;
         width: 350px;
         height: 280px;
         color: black;
         float: left;
         
      }

      img {
         position: relative;
         top: 50px;
         left:10px;
         
      }   

.nav-item {
   position: relative;
   color: white;
}

.navbar {
   position: relative;
   height:70px;
}

.li {
   position: relative;
   right: 80px;
}


.stuffington {
   background-color: white;
   position: relative;
   height: 870px;
   width: 110%;
   left: 1px;
   border: #777777;
   border-style: solid;
}

.grid {
   position: relative;
   left: 10px;
}

}


.stuffers {
   background-color: #eeeeee;
   position: relative;
   height: 300px;
   width: 1040px;
   left: 30px;
}

* {
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-copyright {
   position: relative;
   height: 60px;
   top: 210px;
   background-color: #454561
}


.contact {
   background: #f7f7f7;
   position: relative;
   height: 600px;
   padding-bottom: 80px;
}

body {
      background-image: url("http://www.webdesigndev.com/wp-content/uploads/2015/02/Subtle-Light-Tile-Pattern-Vol5.jpg");
      margin-bottom: 10px;
      height:  400px;
      width: auto;
      border: #777777;
      border-width: thick;
}

 
 .form-box {
   max-width: 500px;
   margin: auto;
   padding: 50px;
   background: #ffffff;
   border: 10px solid #777777;
 }
 
 h1, p {
   text-align: center;
 }
 
 input, textarea {
   width: 100%;
 }

 section,h1 {
   padding: 0 1em;
 }
 
 .grid {
   display: grid;
   position: relative;
   left: 30px;
   bottom: 70px;
   grid-template-columns: repeat(3,150px);  /* 3 columns */
   grid-template-rows: repeat(3,150px); /* 3 rows  */
   grid-gap:100px 80px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
 }
 
 .grid-item{
   padding:20px;
   color:black;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
 }

 h3 {
    position: relative;
    top: 50px;
    left: 10px;
    font-size: large;
    padding: 10px;
    white-space: nowrap;
    overflow: visible;
    
 }




 .display-3 {
   position: relative;
   bottom: 60px;
   left:   85px;
   font-size: xx-large;
   color: white
}

.page-footers {
 position: relative;
 top: 96px;
}

.page-footerz {
   position: relative;
   bottom: 104px;
}

.aboutme {
   font-size: xx-large;
   font-weight: bolder;
   position: relative;
   bottom: 20px;
   left: 50px;
   text-align: left;
}

.port {
   padding: 20px;
   position: relative;
   right: 265px;
   top: 5px;
   text-align: center;
}

h2 {
   position: relative;
   font-size: xx-large;
}